/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
*.swp
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.idea/
node_modules/
.shadow-cljs/
resources/public/assets/js
resources/public/assets/main.css
.lsp/
.clj-kondo/babashka
.clj-kondo/.cache
.clj-kondo/com.wsscode
.clj-kondo/rewrite-clj
*#
*~
.calva/
.vscode/
.socket-repl-port
*-init.clj
/.eastwood
.dir-locals.el
.ent.el
/docs/api/
/.cpcache/
*.http
.tool-versions
launch.json
resources/devcards/js
out
docs/db-doc
.log/
.env
